@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textDark;
  // overflow: hidden;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: "tnum";
}

.App {
  text-align: center;
}

.container {
  background-color: green;
  height: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.8fr 3fr 1.2fr;
}

.a {
  background-color: white;
}

.c {
  background-color: yellow;
}

body {
  padding: 0;
  margin: 0;
}

/* test dynamic input */
.input-wrapper {
  display: flex;
  height: 25px;
}

.wrapper * {
  box-sizing: border-box;
}

.myInput {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-right: none;
  z-index: 4;
}

.react-grid-item.react-grid-placeholder {
  background: yellowgreen;
  border: 1px dotted blue;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.border-selected {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
}

.react-grid-item {

  .react-resizable-handle {
    // display: none;
  }

  &:target {
    background-color: aqua;

    .react-resizable-handle {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 0;
      right: 0;
      background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
      background-position: bottom right;
      padding: 0 3px 3px 0;
      background-repeat: no-repeat;
      background-origin: content-box;
      box-sizing: border-box;
    }
  }
}

.btn-remove {
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
}

.form-block {
  padding: 8px 14px;
  display: flex;
  align-items: center;
}

.react-grid-item:not(.react-grid-placeholder) {
  background: none;
  cursor: pointer;
}