@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-textDark;
  // overflow: hidden;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: #fff;
  font-feature-settings: "tnum";
}

.App {
  text-align: center;
}

.container {
  background-color: green;
  height: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.8fr 3fr 1.2fr;
}

.a {
  background-color: white;
}

.c {
  background-color: yellow;
}

body {
  padding: 0;
  margin: 0;
}

/* test dynamic input */
.input-wrapper {
  display: flex;
  height: 25px;
}

.wrapper * {
  box-sizing: border-box;
}

.myInput {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  border-right: none;
  z-index: 4;
}

.react-grid-item.react-grid-placeholder {
  background: yellowgreen;
  border: 1px dotted blue;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}